html {
  background: #e6e9e9;
  background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
  color: #545454;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 800px;
  padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: 600;
  line-height: 1.3;
}

h2 {
  margin-top: 1.3em;
}

a {
  text-decoration: none;
  color: #006abc;
}

a:hover {
  text-decoration: underline;
  color: #0680e0;
}

b, strong {
  font-weight: 600;
}

samp {
  display: none;
}

img.big {
  animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
  background: transparent;
  border: 10px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: block;
  margin: 1.3em auto;
  max-width: 95%;
}

img.extra-big {
  animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
  background: transparent;
  border: 10px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: block;
  margin: 1.3em auto;
  max-width: 98%;
}

img.win {
  height: 128px;
  padding-left: 140px;
}

img.linux {
  float: right;
  height: 140px;
  padding-right: 140px;
}

img.foundation {
  height: 4%;
}

img.table {
  animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
  background: transparent;
  border: 10px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: block;
  margin: 1.3em auto;
  max-width: 95%;
  max-height: 700px;
}


@keyframes colorize {
  0% {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  100% {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

p {
  text-align: justify;
  text-indent: 30px;
}

p.center {
  text-align: center;
  text-indent: 0 !important;
  border-radius: 100px;
  box-shadow: inset 0 0 5px rgba(173, 172, 172, 0.5);
  background-color: #ffffff;
  padding: 5px;
}

p.without-indent {
  text-indent: 0 !important;
  background-color: #fafafa;
  border-radius: 3px;
  padding: 5px;
}

span.success {
  color: #21b92c;
}

span.danger {
  color: #d31a1a;
}

.to-right {
  float: right;
}